html {
    font-size: 62.5%; /* 16px x 62.5% = 10px = 1rem*/
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 1.6rem;
    /* font-family: ; */
}

.grid-container {
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr 5rem;
    height: 100%;
}

header {
    grid-area: header;
    background-color: #146173;
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: #146173;
    color: #ffffff;
    padding-left: 1rem;
    padding-top: 2rem;
}

header p {
    padding: 1rem;
    color: #ffffff;
}

header img {
    height: 7rem;
    margin: 1rem;
}

header a img {
    margin-top: 2rem;    
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.name-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

main {
    text-align: center;
    justify-content: center;
}

.curp{
    display: inline;
    padding: 1rem;
}

.contenedor {
    display: flex;
    margin: 3rem auto;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    padding: 1rem;
    width: 55rem;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.contenedor:visited {
    color: black;
}

.etiqueta {
    width: 12rem;
    font-weight: bold;
}

p{
    height: min-content;
    margin: .5rem;
}

.info-paciente {
    text-align: left;
    display: flex;
    width: 42rem;
}

.contenedor-imagen img{
    height: 11rem;

}

/*Dispositivos medianos(tablets)*/
@media(max-width:765px) {
    .contenedor{
        display: flex;
        margin: 3rem auto;
        border-radius: 5px;
        border: 1px solid #c4c4c4;
        padding: 1rem;
        width: 48rem;
        justify-content: center;
    }
    
    .info-paciente {
        text-align: left;
        display: flex;
        width: 35rem;
    }

}

/*Dispositivos chicos(celulares)*/
@media(max-width:576px) {
    .contenedor{
        display: flex;
        margin: 3rem auto;
        border-radius: 5px;
        border: 1px solid #c4c4c4;
        padding: 1rem;
        width: 40rem;
        justify-content: center;
    }

    .etiqueta {
        width: 11rem;
        font-weight: bold;
    }

    .info-paciente {
        text-align: left;
        display: flex;
        width: 30rem;
    }
    
}

.Pacientes-Recientes {
    font-size: 3rem;
}