html {
    font-size: 62.5%; /* 16px x 62.5% = 10px = 1rem*/
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 1.6rem;
    /* font-family: ; */
}

.grid-container {
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr 5rem;
    height: 100%;
}

header {
    grid-area: header;
    background-color: #146173;
    position: fixed;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a img {
    margin-top: 2rem;
    padding: 1rem;    
}

.name-img {
    display: flex;
    align-items: center;
}

.name-img p {
    padding: 1rem;
    color: #ffffff;
}

.name-img img {
    height: 7rem;
    margin: 1rem;
}

main {
    grid-area: main;
}

.grid-layout {
    display: grid;
    grid-template-areas: 'barra contenido';
    grid-template-columns: 13rem 1fr;
    height: 100%;
}

.grid-lateral {
    grid-area: barra;
    display: grid;
    grid-template-areas:'btn1'
                        'btn2'
                        'btn3'
                        'btn4'
                        'btn5'; 
    grid-template-rows: 4rem 4rem 4rem 4rem 4rem;
    background-color: #4995A6;
    position: fixed;
    height: 100%;
    width: 13rem;
    margin-top: .8rem;
}

.grid-lateral a:hover {
    text-decoration: underline;
}

.button-4 {
    padding-top: 1rem;
    padding-left: 2.5rem;
    text-decoration: none;
    color: #ffffff;
    background-color: #146173;
}

.button-2,.button-3,.button-1,.button-5 {
    text-align: center;
    padding-top: 1rem;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #146173;
    border-bottom: 1px solid #146173
}

.button-3 {
    border-bottom: 2px solid #146173;
}

.button-5 {
    grid-area: btn5;
    border-bottom: 2px solid #146173;
}

.grid-principal {
    grid-area: contenido;
}

.nombrePaciente {
    margin: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.grid-contenido {
    display: grid;
    grid-template-areas:'titulo imagen'
                        'tipo blanco'
                        'observaciones boton'
                        'tabla tabla';
    margin: 5rem;
    font-size: 2rem;
    font-weight: bold;
}

.tituloArchivo {
    grid-area: titulo;
    margin-left: 35%;
}

.imagen {
    grid-area: imagen;
    display: flex;
    align-items: center;
}

.nomArchivo {
    border: 1px solid #c4c4c4;
    padding: .5rem;
    font-weight: 100;
    font-size: 1.6rem;
}

.imagen a img {
    padding-left: 2rem;
    height: 5rem;
}

.tipo {
    grid-area: tipo;
    margin-left: 35%;
}

.tipo select {
    font-size: 1.6rem;
}

.observaciones {
    grid-area: observaciones;
    margin-left: 35%;

}

.botonAgregar {
    grid-area: boton;
}

.botonAgregar a{
    text-decoration: none;
    color: #ffffff;
    background-color: #146173;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 2px;
}

.tabla {
    grid-area: tabla;
}

table{
    width: 100%;
    font-weight: 100;
    font-size: 1.6rem;
    margin-top: 2rem;
}

table, th, td{
    border: 1px solid #146173;
    border-collapse: collapse;
    padding: .5rem;
}

th{
    color: #ffffff;
    background-color: #4995A6;
}

/* /renglones impares/ */
tr:nth-child(even){
    background-color: #fcfcfc;
}
/* /renglones pares/ */
tr:nth-child(odd){
    background-color: #a8dadc;
}

footer {
    grid-area: footer;
    background-color: #146173;
    color: #ffffff;
    padding-left: 1rem;
    padding-top: 2rem;
    z-index: 1;
}