html {
  font-size: 62.5%; /* 16px x 62.5% = 10px = 1rem*/
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  /* font-family: ; */
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #146173;
}

main {
  grid-area: main;
  padding: 1rem;
}

header p {
  padding: 1rem;
  color: #ffffff;
}

header img {
  height: 7rem;
  /* padding: 1rem; */
  margin: 1rem;
}

header a img {
  margin-top: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  align-items: center;
}
.menu-name-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.menu-name-img p {
  font-size: 3rem;
}

.grid-container-main {
  display: grid;
  grid-template-areas:
    "titulo btn1 btn2"
    "txt img img";
  grid-template-columns: .5fr 0.25fr 0.25fr;
  grid-template-rows: .7fr 1fr;
  height: 100%;
  align-items: center;
  margin: 0 auto; 
}

.tuExp {
  grid-area: titulo;
  padding: 15px;
}

.txt_tuExp {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #4995a6;
  /* width:32.625rem;
	height:10rem; */
  top: 0em;
  font-family: Roboto;
  text-align: left;
  font-size: 355%;
  letter-spacing: 0;
}

.btn1{
    margin: 0 auto;
}

.btn2{
    margin-right: 30%;

}

.btn_soyPaciente,
.btn_soyMedico {
  width: 13em;
  height: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #146173;
  font-size: 2rem;
}

.btn_soyPaciente {
  grid-area: btn1;

  background-color: #4995a6;
  position: relative;
  color: rgba(255, 255, 255, 1);
  /* position:absolute; */
  font-family: Roboto;
  /* text-align:left; */
  
  
}

.btn_soyMedico {
  grid-area: btn2;

  background-color: #FCFCFC;
  position: relative;
  color: #146173;
  /* position:absolute; */
  font-family: Roboto;
  text-align: center;
  
}


.descrip{
    grid-area: txt;
    margin-top: 0;
}
.lorem{
    padding: 15px;
    padding-bottom: 0;
    font-size: 150%;
}

.im{
    grid-area: img;
}
.imgHosp{
    width: 80%;
}

footer {
    grid-area: footer;
    background-color: #146173;
    color: #ffffff;
  }