html {
    font-size: 62.5%; /* 16px x 62.5% = 10px = 1rem*/
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 1.6rem;
    /* font-family: ; */
}

.grid-container {
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr 5rem;
    height: 100%;
}

header {
    grid-area: header;
    background-color: #146173;
}

main {
    grid-area: main;
    padding: 1rem;
    justify-content: center;
}

footer {
    grid-area: footer;
    background-color: #146173;
    color: #ffffff;
    padding-left: 1rem;
    padding-top: 2rem;
}

header p {
    padding: 1rem;
    color: #ffffff;
}

header img {
    height: 7rem;
    margin: 1rem;
}

header a img {
    margin-top: 2rem;    
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.titulo {
    color: #ffffff;
    margin: 0 auto;
}

.grid-layout {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;

}

.contenedor {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 2rem;
}

.contenedor-info {
    margin-top: 3rem;
    margin-left: 3rem;
}

.info-mail-pass {
    text-align: left;
    width: 100%;
    font-size: 2.3rem;
}

.etiqueta {
    font-weight: bold;
    margin: 3rem 0 1.5rem 0;
}

.info-mail-pass input {
    width: 30rem;
    font-size: 1.5rem;
}

.botones {
    margin: 3rem;
    margin-top: 5rem;
    width: 100%;
}

.btn-registrar {
    margin-right: 2rem;
    border: 1px solid #146173;
    border-radius: 2px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4.5%;
    padding-right: 4.5%;
    text-decoration: none;
    color: #4995a6;
}

.btn-ingresar {
    background-color: #4995a6;
    border: 2px solid #4995a6;
    border-radius: 2px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 10.5%;
    padding-right: 10.5%;
    text-decoration: none;
    color: #ffffff;
}

.pag-img-principal {
    display: grid;
    grid-template-rows: 15rem 1fr;
    text-align: center;
}

.pag-img-principal a {
    text-align: right;
}

.pag-img-principal img {
    height: 30rem;
    margin-left: 3rem;
}

/*Dispositivos medianos(tablets)*/
@media(max-width:765px) {

}

/*Dispositivos chicos(celulares)*/
@media(max-width:576px) {
    
}